<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>todolist</title>
<link rel="stylesheet" type="text/css" href="/static/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/static/index.css">
</head>
<body>
  <header>
    <div class="wrap">
      <h1>ToDoList</h1>
      <div id="wrap_right">
        <%if(loginedUser){%>
          <ul class="login_in"><%=loginedUser.name%>
            <li><a href="/home/login/index" id="login_out">退出</a></li>
          </ul>   
        <%}else{%>
          <a href="/home/login/index" id="loginForIndex">登录</a>
        <%}%>
        <!-- <p id="sign_in">注册</p> -->
      </div>
      <form method="post" id="taskForm">
        <input type="text" name="description" placeholder="添加任务" required="required" autocomplete="off"/>
        <input type="submit" id="addBtn" value="提交" />
      </form>
    </div>
  </header>
  <div class="content">
    <div id="list_doing" class="list">
      <h2>正在进行<span id="doingCount">0</span></h2>
        <ol id="taskDoing"></ol>
    </div>
    <div id="list_done" class="list">
      <h2>已经完成<span id="doneCount">0</span></h2>
        <ul id="taskDone"></ul>
    </div>
  </div>
  <footer>
      Copyright © 2017 todolist
  </footer>
<script type="text/javascript" src="/static/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/static/index.js"></script>
<script type="text/javascript">
//add
  $('#taskForm').submit(function (event){
      event.preventDefault();  //阻止表单提交
      $.ajax({
        url: "/api/task/post/id",
        type: "POST",
        dataType: "json",
        data: $('#taskForm').serialize(),
        success: function(res){
          if(!res.errno){
            $.get("api/task/get/id/"+res.data.id, function(arg){
              var data = arg.data;
              load(data);
            }); 
            // load(data);
            // $.get("api/task/get/id/"+res.data.id, function(arg){
              // console.log(arg);
              // $('#taskDoing').html(arg.data.description);
            // });
          }
        }
      });
  })

</script>
</body>
</html>

